:root {
  @apply .light;
}

.dark {
  --color-bg-primary: #121212;
  --color-bg-secondary: #000000;
  --color-text-primary: #e2e2e2;
  --color-text-secondary: #ffffff;
  --color-text-accent: #7dd7d1;
}

.light {
  --color-bg-primary: #e2e2e2;
  --color-bg-secondary: #ffffff;
  --color-text-primary: #121212;
  --color-text-secondary: #000000;
  --color-text-accent: #00aa9c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-500 leading-loose;
  }

  h1 {
    @apply font-semibold text-xl;
  }
}

@layer components {
  .nav-bar {
    @apply w-full bg-indigo-500 flex items-center justify-around py-2;
  }
  .nav-bar a {
    @apply text-center uppercase text-white px-10 py-1 hover:bg-indigo-400 rounded-xl;
  }
  .emp {
    @apply font-semibold text-indigo-500;
  }
}
